.venv
__pycache__/
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyw
*.pyz
*.pyx
*.pxd
*.pxi
*.pyi
*.pyz
*.pyzw
*.pyzw3
*.pyzw38
*.pyzw39
*.pyzw310
*.pyzw311
*.pyzw312
*.pyzw313
*.pyzw314
*.pyzw315
*.pyzw316
*.pyzw317
novel_output/
*.ttf